@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
/* @import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);
@import url(https://fonts.googleapis.com/css?family=VT323:regular);
@import url(https://fonts.googleapis.com/css?family=Ruslan+Display:regular); */


:root {
    /* FONT */
    --font-family: 'Montserrat', regular;

    /* COLORS */
    --primary-black-color: #000;
    --primary-neutral-color: #404040;
    --primary-white-color: #fff;
    --zinc-100: #f4f4f5;
    --zinc-200: #e4e4e7;
    --zinc-300: #d4d4d8;
    --zinc-500: #71717a;
    --zinc-800: #27272a;
}

* {
    box-sizing: border-box;
}

* a {
    text-decoration: none;
    color: var(--primary-black-color);
}

html {
    scroll-behavior: smooth !important;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    background-color: #fff;
    height: 100dvh;
    overflow-x: hidden;
}

.container {
    width: 1140px;
    margin: 0 auto;

}

.bold {
    font-weight: 700;
}

.underline {
    text-decoration: underline;
}

/* ================================ HEADER ================================ */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
}

.dinamic-menu {
    display: none;
    width: 100%;
    position: fixed;
    top: -100px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgb(220, 220, 220);
    transition: 0.3s ease all;
    z-index: 99;
    opacity: 0;
}

.nav-hidden {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
}

.nav__logo a {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-black-color);
}

.nav__list {
    padding: 0;
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav__item {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.nav__item::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: #000;
    transition: 0.3s ease;
    margin-top: 3px;
    margin-inline: auto;
}

.nav__item:hover::after {
    width: 100%;
}

.resume__btn {
    background-color: var(--primary-black-color);
    color: var(--primary-white-color);
    padding: 1rem 1rem;
    border-radius: 10px;
    width: fit-content;
    text-wrap: nowrap;
    transition: 0.3s ease all;
    border: none;
    outline: 2px solid transparent;
    outline-offset: -2px;
    font-weight: 600;
}

.resume__btn:hover {
    background-color: #fff;
    color: #000;
    outline-color: #000;
}

.banner__title {
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding: 14px 0;
}

.banner__text {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--zinc-500);
}

.skills__title {
    font-size: 2rem;
    padding: 2rem 0;
}

.skills__cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.card {
    position: relative;
    display: flex;
    gap: 5px;
    align-items: center;
    user-select: none;
    background-color: #fff;
    padding: 10px 15px;
    box-shadow: 0 0 2px 0 rgb(196, 196, 196);
    border-radius: 5px;
    transition: .3s ease all;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 1px 8px 0px rgb(215, 215, 215);
}

.card img {
    width: 36px;
}

.card p {
    font-weight: 500;
    color: var(--zinc-800);
}

/* ================================ SECTION ABOUT ================================ */


.about {
    padding: 50px 0;
}

.section__title {
    text-align: center;
    padding: 2rem 0;
}

.section__title h2 {
    font-weight: 400;
    font-size: 2rem;
}

.about__wrapper {
    display: flex;
    align-items: first baseline;
    gap: 30px;
}

.about__image {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.about__image img {
    width: 600px;
}

.about__text p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    color: var(--zinc-500);
    max-height: fit-content;
}


/* ================================ SECTION PROJECTS ================================ */

.white__title {
    color: #fff;
    padding: 90px 0 50px 0;
}

.projects {
    background-color: #000;
    color: #fff;
}

.project__img {
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    transition: .3s ease opacity;
}

.project__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.project__description {
    color: var(--primary-white-color);
    width: fit-content;
    text-wrap: wrap;
}

.description__link {
    color: var(--primary-white-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: .3s ease all;
    padding: 10px 0;
    margin-top: 20px;
    position: relative;
    width: fit-content;
}

.description__link::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../res/img/work/link-ico.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.project__number {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.project__title {
    font-size: 24px;
    font-weight: 700;
}

.project__text {
    margin-top: 20px;
    line-height: 1.5;
    width: 500px;
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding-bottom: 50px;
}

.project-card {
    display: flex;
    justify-content: center;
    gap: 2rem;
    height: 400px;
    position: relative;
}

.project-card:not(:last-child) {
    padding-bottom: 50px;
}

.project-card:not(:last-child)::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 300px;
    background-color: #fff;
    bottom: 0;
    opacity: .5;
    left: 50%;
    transform: translateX(-50%);
}

.swiper {
    border-radius: 15px;
    width: 900px;
    cursor: grab;
}

.swiper-slide {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.swiper-slide img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    object-position: left center;
}

/* ================================ SECTION CONTACT ================================ */

.contact {
    padding: 50px 0;
}

.contact__text h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}

.contact__text p {
    line-height: 1.5rem;
    color: var(--zinc-500);
}

.social__items {
    margin-top: 2rem;
    display: flex;
    gap: 20px;
}

.social--item {
    display: inline-block;
    min-width: fit-content;
}

.social--item a {
    color: var(--zinc-500);
    display: flex;
    gap: 5px;
    min-width: fit-content;
    align-items: center;
}

.social--item img {
    width: 2rem;
    height: 2rem;
}


/* ================================ FOOTER ================================ */

.footer {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0 1.5rem 0;
    width: 100%;
    bottom: 0;
    background-color: #000;
    color: var(--zinc-500);
}

/* ================================ OTHER ================================ */

.hidden {
    display: none;
}

.btn-up {
    background-color: var(--zinc-300);
    opacity: 0;
    position: fixed;
    bottom: -100px;
    cursor: pointer;
    border-radius: 50%;
    width: 60px;
    aspect-ratio: 1;
    right: 5%;
    padding: 10px 10px;
    transition: .5s ease box-shadow;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.btn-up:hover {
    box-shadow: 0 0 5px 0px var(--zinc-500);
}

.btn-up::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../res/img/up-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s ease all;
}

.btn-up:hover::after {
    transform: translateY(-5px);
}