/* @media (width < 1170px) {
    .container {
        max-width: 1000px;
    }

    .about__wrapper {
        align-items: first baseline;
    }

    .about__image {
        width: 100%;
        height: 400px;
        overflow: hidden;
    }

    .about__image img {
        object-fit: cover;
        object-position: 20% 40%;
        width: 100%;
        height: 100%;
    }
} */

/* @media (width < 1025px) {
    .container {
        max-width: 700px;
    }

    .about__wrapper {
        flex-direction: column;
    }

    .about__image {
        width: 100%;
        height: 400px;
        overflow: hidden;
    }

    .about__image img {
        object-fit: cover;
        object-position: 20% 40%;
        width: 100%;
        height: 100%;
    }

    .slider {
        max-width: 700px;
    }

    .slide {
        max-width: 700px;
        min-width: 700px;
        gap: 30px;
        align-items: center;
        flex-direction: column-reverse;
    }

    .slide__img {
        max-width: 700px;
        min-width: 700px;
        min-height: 350px;
    }

    .slide__description {
        max-width: 700px;
        min-width: 700px;
    }

    .btn-up {
        right: 50px;
    }
} */

@media (width < 740px) {
    .container {
        max-width: 90%;
    }

    .nav__list {
        display: none;
    }

    .skills__cards {
        flex-wrap: wrap;
    }

    .about__wrapper {
        flex-direction: column;
    }

    .about__image img {
        width: 100%;
    }

    .project-card {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .project__description {
        width: 100%;
    }

    .project__text {
        width: 100%;
    }

    .swiper {
        border-radius: 20px;
        width: 100%;
        height: 300px;
        cursor: grab;
    }

    .swiper-slide {
        overflow: hidden;
        min-height: 300px;
    }

    .banner__image {
        display: none;
    }
}

@media (width > 740px ) {
    .banner__wrapper {
        height: calc(100vh - 80px)
    }
}